        body 
        {
            background-color: #f5f5f5;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* fonte do corpo */
        }

        .container 
        {
            background-color: #E9E9E9;
            margin: auto; /* centraliza o container e margem externa*/

            width: 600px; /* largura do container */
            box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2); /* sombra do container */
            border-radius: 5px; /* borda arredondada */
            overflow: hidden; /* bordas superiores e inferiores arredondadas */
        }

        .header
        {
            padding: 2.5rem; /* margem interna */
        }

        .flex-container
        {
            display: flex;
            justify-content: space-around; /* espaçamento entre as colunas */
        }

        .header-title 
        {
            color: #006F6F;
            font-size: 2rem; /* tamanho da fonte do título */
            font-weight: 700; /* negrito */
            margin-bottom: 1.2rem; /* margem inferior do título */
        }

        .header-subtitle 
        {
            color: #009E9E;
            font-size: 1.2rem; /* tamanho da fonte do subtítulo */
            font-weight: 500; /* seminegrito */
            margin-bottom: 0.9rem; /* margem inferior do subtítulo */
        }

        .col-1
        {
            background-color: #006A6A;
            width: 50%;
            padding: 1.2rem; /* margem interna */
            color: #ffffff; /* cor do texto */
        }

        .col-2
        {
            background-color:#009E9E;
            width: 50%;
            padding: 0.6rem 1.2rem; /* margem interna */
            color: #ffffff; /* cor do texto */
        }

        .subscription-title
        {
            font-size: 1.2rem; /* tamanho da fonte do título da assinatura */
            text-align: center; /* centraliza o texto */
            margin-bottom: 1.2rem; /* margem inferior do título da assinatura */
        }

        .price
        {
            font-size: 1.6rem;
            font-weight: 700; /* negrito */
        }

        .monthly-price
        {
            font-size: 0.9rem; /* tamanho da fonte do preço mensal */
            font-style: italic;
            margin-left: 0.9rem; /* margem esquerda do preço mensal */
        }

        .button
        {
            width: 100%;
            padding: 0.9rem 2.0rem; /* margem interna do botão */
            color: #006A6A; /* cor de fundo do botão */
            font-size: 1rem; /* tamanho da fonte do botão */
            margin-top: 1.2rem; /* margem superior do botão */
            border-radius: 4px; /* borda arredondada do botão */
            border: none; /* remove a borda padrão do botão */
            background-color: #CCCCCC;
            cursor: pointer; /* cursor de ponteiro ao passar o mouse */
            text-decoration: none; /* remove o sublinhado do link */
        }

        .button:hover
        {
            background-color: #E9E9E9; /* cor de fundo do botão ao passar o mouse */
        }

        .image-group
        {
            text-align: center;
        }

        .image-group object
        {
        width: 40px; /* ou 100px, 120px... conforme o tamanho desejado */
        height: 40px; /* opcional, pode deixar o navegador calcular sozinho */
        margin: 0 auto;
        display: block;
        }

        @media screen and (max-width: 620px) /* telas menores que 620px */
        {
            html 
            {
                font-size: 14px; /* tamanho da fonte para telas menores */
            }

            .flex-container 
            {
                flex-direction: column; /* coluna única em telas menores */
            }

            .col-1, .col-2 
            {
                width: 100%; /* largura total em telas menores */
                box-sizing: border-box; /* inclui padding e border na largura total */
            }

            .container 
            {
                width: 95%; /* largura do container em telas menores */
            }

        }